:root {
    --square-size: 40px;
    --bg-color: #123;
}

@font-face {
    font-family: brunoAce;
    src: url('./public/BrunoAceSC-Regular.ttf');
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: var(--bg-color);

}

li {
    list-style: none;
}

@keyframes deleteLineAnimation {
    0% {
        opacity: 1;
    }
    25% {
        opacity: .4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .4;
    }
}

#game {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 60px
}

#level {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: calc(var(--square-size)/2);
    width: calc(3 * var(--square-size));
    height: calc(5 * var(--square-size));
    background: #000;
    border: gainsboro ridge 3px;
    color: aliceblue;
    font-size: 1.2rem;
}

#level p {
    margin: 0;
    text-align: center;
}

h1 {
    display: flex;
    position: relative;
    font-family: brunoAce,Poppins, sans-serif;
    background-clip: text;
    background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f, #fed90f);
    color: black;
    font-size: 6em;
    letter-spacing: calc(1em / 8);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
    padding: 0 .5em;
    margin: 0;
}

#tetrys {
    position: relative;
    border: black ridge 10px;
    width: calc(10 * var(--square-size));

    h1 {
        position: absolute;
        width: calc(10 * var(--square-size));
        height: calc(2 * var(--square-size));
        font-size: 4.5em;
        justify-content: center;
        align-items: center;
        padding: 0;
        z-index: 2;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: #000;
        width: calc(10 * var(--square-size));
        height: calc(2 * var(--square-size));
    }
}

#grid {
    display: grid;
    width: calc(10 * var(--square-size));
    height: calc(20 * var(--square-size));
    grid-template-columns: repeat(10, var(--square-size));
    grid-template-rows: repeat(20, var(--square-size));
}

.square {
    box-sizing: border-box;
    background: #000;
    border: solid 1px white;
}

.piece {
    background: pink;
    border: ridge 5px white;

    &.sq {
        background: #09f1b8;
    }

    &.s {
        background: #00a2ff;
    }

    &.z {
        background: #ff00d2;
    }

    &.l {
        background: #fed90f;
    }

    &.lr {
        background: #0f13fe;

    }

    &.t {
        background: #fe630f;
    }

    &.b {
        background: #670ffe;
    }
}

.freezePiece {
    border: ridge 5px white;
    background-image: radial-gradient(circle, rgb(0, 0, 0) 20%, transparent 10%);
    background-size: .3em .3em;
    background-position: 0 0, .1em .1em;

    &.sq {
        background-color: #09f1b8;
    }

    &.s {
        background-color: #00a2ff;
    }

    &.z {
        background-color: #ff00d2;
    }

    &.l {
        background-color: #fed90f;
    }

    &.lr {
        background-color: #0f13fe;

    }

    &.t {
        background-color: #fe630f;
    }

    &.b {
        background-color: #670ffe;
    }
}

.delete {
    animation: .4s linear 0s infinite alternate deleteLineAnimation;
}

#menu {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    border: ridge 5px white;
    padding: 2rem;
    background: #000;
    z-index: 2;
    display: none;
    text-align: center;


    &.display {
        display: block;
        & + #overlay {
            display: block;
        }
    }

    li {
        display: flex;

    }



    #new-game, #option, #valid-control {
        color: #000;
        border: none;
        background: none;
        margin: 10px auto;
        font-size: 4rem;
        text-shadow:
                0 0 7px #fff,
                0 0 42px rgb(230, 18, 124);

        &:hover {
            cursor: pointer;
            color: #fff;
            text-shadow:
                    0 0 7px #fff,
                    0 0 10px #fff,
                    0 0 42px rgb(230, 18, 124),
                    0 0 77px rgb(230, 18, 124),
                    0 0 100px rgb(230, 18, 124);
            animation: lumiere 1s infinite linear;
        ;
        }
    }

        .key-input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            margin: 0 auto;
            cursor: pointer;
            border-bottom: white solid 1px;

            &.edition p:last-child {
                box-shadow:
                        0 0 7px #fff,
                        0 0 10px #fff,
                        0 0 42px rgb(230, 18, 124),
                        0 0 77px rgb(230, 18, 124),
                        0 0 100px rgb(230, 18, 124);
            }
            p {
                padding: .4rem;
            }
        }
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
}



@keyframes lumiere {
    0%{
        text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 42px rgb(230, 18, 124),
                0 0 77px rgb(230, 18, 124),
                0 0 100px rgb(230, 18, 124);
    }
    50%{
        text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 32px rgb(230, 18, 124),
                0 0 87px rgb(230, 18, 124),
                0 0 120px rgb(230, 18, 124);
    }
}