:root {
    --square-size: 40px;
}

@keyframes deleteLineAnimation {
    0% {
        opacity: 1;
    }
    25% {
        opacity: .4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .4;
    }
}

#game {
    display: flex;
    justify-content: center;
}

#level {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: calc(var(--square-size)/2);
    width: calc(3 * var(--square-size));
    height: calc(5 * var(--square-size));
    background: #000;
    border: gainsboro ridge 3px;
    color: aliceblue;
    font-size: 1.2rem;
    font-family: sans-serif;
}

#level p {
    margin: 0;
    text-align: center;
}

#grid {
    display: grid;
    width: calc(10 * var(--square-size));
    height: calc(18 * var(--square-size));
    grid-template-columns: repeat(10, var(--square-size));
    grid-template-rows: repeat(18, var(--square-size));
    background: green;
    border: black ridge 10px;
}

.square {
    box-sizing: border-box;
    background: #000;
    border: solid 1px white;
}

.piece {
    background: pink;
    border: ridge 5px white;
}

.freezePiece {
    background: red;
    border: ridge 5px white;
}

.delete {
    animation: .4s linear 0s infinite alternate deleteLineAnimation;
}

