:root {
    --square-size: 40px;
}

@keyframes deleteLineAnimation {
    0% {
        opacity: 1;
    }
    25% {
        opacity: .4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .4;
    }

}

#grid {
    display: grid;
    grid-template-columns: repeat(10, var(--square-size));
    grid-template-rows: repeat(18, var(--square-size));
    background: green;
}

.square {
    box-sizing: border-box;
    background: #000;
    border: solid 1px white;
}

.piece {
    background: pink;
}

.freezePiece {
    background: red;
}

.delete {
    animation: .4s linear 0s infinite alternate deleteLineAnimation;
}

